@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*
  greenery 88b04b
  online lime 548a4d
  true blue 395181
  directoire blue 046aaa
  viridian green 00979c
  blue radiance 62cbd5
  goblin blue 5f7278
  silver blue 8a9a9a
  kalamata 5f5b4c
  silt green a9bdb1
  willow bough 59754d
  calypso coral ec5d73
*/
/* 
  hawaiian surf #117fad
  ultraviolet #6d5b97
  citrus #fcb239
  raspberry #d74061
  oriole #f37a29
  bodacious #b66ba3
  bamboo #d2b456
  butterum #c59169 
*/


body {
  background-color: #ffffff;
  color: #8a9a9a;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
}
p.highlighted {
  background: #8a9a9a;
  color: #ffffff;
}
div.highlighted {
  background: #8a9a9a;
  color: #ffffff;
}
div.highlighted-green {
  background: #88b04b;
  color: #ffffff;
}
div.highlighted-red {
  background: #ec5d73;
  color: #ffffff;
}
.logo {
    width: 512px;
}
div.error {
  background-color: red;
  color: white;
}
