@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
  hawaiian surf #117fad
  ultraviolet #6d5b97
  citrus #fcb239
  raspberry #d74061
  oriole #f37a29
  bodacious #b66ba3
  bamboo #d2b456
  butterum #c59169
*/

body
{
  background-color: #ffffff;
  color: #8a9a9a;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
}
p.highlighted
{
  background: #117fad;
  color: #ffffff;
}
div.highlighted
{
  background: #117fad;
  color: #ffffff;
}
div.highlighted-green
{
  background: #6d5b97;
  color: #ffffff;
}
div.highlighted-red
{
  background: #d74061;
  color: #ffffff;
}
.logo
{
    width: 512px;
}
div.error
{
  background-color: #d74061;
  color: white;
}
table.wagers
{
  width: 100%;
}
.highlight-player
{
  background-color: #fcb239;
  color: white;
}
.highlight-creator
{
  background-color: #b66ba3;
  color: white;
}

.cell-side-a-player-highlight
{
  background-color: #b66ba3;
  color: white;
}
.cell-side-b-player-highlight
{
  background-color: #b66ba3;
  color: white;
}
.cell-side-a-player
{
  background-color: #117fad;
  color: white;
}
.cell-side-b-player
{
  background-color: #6d5b97;
  color: white;
}

table.bracket
{
  width: 100%;
}
table.bracket-side-a
{
  width: 100%;
}

table.bracket-side-b
{
  width: 100%;
}

table.bracket a {
  color: #fcb239;
}
